$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* Colors
 * -------------------------------------------------- */    
$color-beige: #D5966C;
$color-black: #151515;
$color-gray: #444444;
$color-white: #FFFFFF;

/* Typography
 * -------------------------------------------------- */
$font-title: 'Big Shoulders', sans-serif;
$font-default: 'Outfit', sans-serif;