@use "../abstracts/abstracts" as *; 

.footer {
    background-color: $color-black;
    color: $color-white;
    padding: 48px 32px;

    @media (min-width: $bp-tablet) {
        display: flex;
        gap: 64px;
    }

    &__logo {
        margin-bottom: 38px;
        img {
            width: 110px;
            @media (min-width: $bp-tablet) {
                width: 90%;
            }
        }

    }

    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 38px;
    }
    &__icons {
        color: $color-white;
        text-decoration: none;
        display: flex;
        gap: 20px;
        @media (min-width: $bp-tablet) {
            padding-left: 60px;
        }

        a {
            color: $color-white;
            text-decoration: none;
        }

        a:hover {
            @media (min-width: $bp-desktop) {
                transform: scale(1.1);
            }
        }
    }

    &__icon {
        width: 20px;
    }

}