@use "../abstracts/abstracts" as *; 

.hero {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 120px;
    position: relative;

    &__content {
        @media (min-width: $bp-tablet) {
            display: flex;
            flex-direction: column;
            width: 50%;
            position: absolute;
            top: 22%;
            right: 0;
        }

        @media (min-width: $bp-desktop) {
            display: inline-block;
            position: relative;
        }

    }

    
    &__image {
        position: relative;
        @media (min-width: $bp-desktop) {
            display: flex;
        }

        &-block {
            display: none;
            @media (min-width: $bp-desktop) {
            width: 52%;
            display: block;
            background-color: $color-black;
            margin-bottom: 32px;
        }

        }


        &-mobile {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            display: block;
            margin-bottom: 32px;
            @media (min-width: $bp-tablet) {
                display: none;
            }
        }

        &-tablet {
            display: none;
            @media (min-width: $bp-tablet) {
                width: 60%;
                max-height: auto;
                object-fit: cover;
                display: block;
                margin-bottom: 32px; 
            }
            @media (min-width: $bp-desktop) {
                width: 38%;
                max-height: auto;
                object-fit: cover;
                display: block;
                margin-bottom: 32px; 
            }

        }   

    }

    &__title {
        font-size: 60px;
        font-family: $font-title;
        font-weight: 800;
        color: $color-black;
        margin-bottom: 55px;
        padding: 0 16px;
        margin-bottom: 32px;
        text-transform: uppercase;
        @media (min-width: $bp-desktop) {
            position: absolute;
            color: $color-white;
            font-size: 82px;
            line-height: 75px;
            left: -194%;
            top: 21%;
        }

    }

    &__description {
        font-size: 18px;
        font-family: $font-default;
        color: $color-gray;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 32px;
        padding: 0 16px;
        @media (min-width: $bp-desktop)  {
            width: 320px;
            position: absolute;
            right: 32%;
            top: 23%;
        }
    }

    .btn-location {
        display: inline-flex;
        align-items: stretch; 
        text-decoration: none;
        padding: 0 16px;
        @media (min-width: $bp-desktop)  {
            width: 320px;
            position: absolute;
            right: 32%;
            top: 50%;
        }
           
    }

        .btn-location__text {
            font-family: $font-title;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 3.6px;
            line-height: 1;
            background-color: $color-black;
            color: $color-white;
            padding: 20px 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-location__icon {
            background-color: $color-beige;
            padding: 24px;
            
            img {
                width: 10px;
                height: auto;
                margin: 0;
            }
        }

    .btn-location:hover {

        @media (min-width: $bp-desktop) {
            .btn-location__text {
                background-color: $color-beige;
            }
            .btn-location__icon {
                background-color: $color-black; 
                
                img {
                    background-color: $color-black;
                }
            }    
        }
    }    

}